# Visual Studio Code
**/.settings/
**/.vscode/
**.code-workspace

# Python
**/__pycache__/

# (Maven) Java Project Files
target/
*.classpath
*.project
*.project
*.travis.yml
*.editorconfig

# SCons Files
*.sconsign.dblite

# Binary Files, or just Java Archives
bin/
*.jar
